@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
  body {
    background-image: url('images/neon-glow-outrun-synthwave-4k-if.jpg');
    background-position: center;
  }
</style>

<div class="jumbotron text-center">
  <h1 class="time">TIME</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <table class="table table-striped">
        <tr>
            <th scope="col">City</th>
            <th scope="col">Time</th>
            <th scope="col">Cond.</th>
            <th scope="col">Temp</th>
            <th scope="col">Humid.</th>
        </tr>
        <tr>
            <td scope="col">Chicago</td>
            <td scope="col" class="time" tz="America/Chicago">-</td>
            <td scope="col">Sunny</td>
            <td scope="col">30 C <br>98 F</td>
            <td scope="col">100%</td>
        </tr>
        <tr>
            <td scope="col">Atlanta</td>
            <td scope="col" class="time" tz="America/New_York">-</td>
            <td scope="col">-</td>
            <td scope="col">- C<br> F</td>
            <td scope="col">-%</td>
        </tr>
        <tr>
            <td scope="col">UTC (UK)</td>
            <td scope="col" class="time" tz="UTC">-</td>
            <td scope="col">-</td>
            <td scope="col">- C<br> F</td>
            <td scope="col">-%</td>
        </tr>
        <tr>
            <td scope="col">Osaka</td>
            <td scope="col" class="time" tz="Japan">-</td>
            <td scope="col">-</td>
            <td scope="col">- C<br> F</td>
            <td scope="col">-%</td>
        </tr>
      </table>
    </div>
    <div class="col-sm">
      <table class="table table-striped" id="finTable">
        <tr>
            <th scope="col">Ticker</th>
            <th scope="col">Val</th>
            <th scope="col">Day</th>
            <th scope="col">YOY</th>
        </tr>
        <tr>
            <td>SP500</td>
            <td>69.00</td>
            <td>+1.05%</td>
            <td>+12%</td>
        </tr>
        <tr>
            <td>Nikkei 255</td>
            <td>70.00</td>
            <td>+1.09%</td>
            <td>+1%</td>
        </tr>
        <tr>
            <td>RPC</td>
            <td>99.00</td>
            <td>+100.0%</td>
            <td>+199%</td>
        </tr>
        <tr>
            <td>AMZN</td>
            <td>203.00</td>
            <td>+41.0%</td>
            <td>+9%</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped" id="taskTable">
      <tr>
          <th scope="col">Task</th>
          <th scope="col">Creation</th>
      </tr>
      <tr>
          <td scope="col">Weather server + integration</td>
          <td scope="col">2023-07-18-1200</td>
      </tr>
      <tr>
          <td scope="col">Clock improvments(better text, date)</td>
          <td scope="col">2023-07-18-1300</td>
      </tr>
    </table>
  </div>
</div>